PORT=3000
NODE_ENV=development
JWT_SECRET=replace-with-a-long-random-secret

DATABASE_URL="postgresql://postgres.hnfibtnoqwvrnsthhntk:YOUR_PASSWORD@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.hnfibtnoqwvrnsthhntk:YOUR_PASSWORD@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"
